{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Mot de passe oublié</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			{% for error in errors %}
				<div class="alert alert-info alert-dismissable" role="alert">
				  <span class="sr-only">Erreur:</span>
				  {{ error }}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				</div>
			{% endfor %}
			{% if can_send_mail() %}
			<form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
				<input name='nonce' type='hidden' value="{{ nonce }}">
				{% if mode %}
				<div class="form-group">
					<label for="password-input">
						Mot de passe
					</label>
					<input class="form-control" type="password" name="password" id="password-input" />
				</div>
				{% else %}
				<div class="form-group">
					<label for="email-input">
						Email
					</label>
					<input class="form-control" type="text" name="email" id="email-input" />
				</div>
				{% endif %}
				<div class="row">
					<div class="col-md-6 offset-md-6">
						<button type="submit" id="submit" tabindex="5" class="btn btn-md btn-primary float-right">Submit</button>
					</div>
				</div>
			</form>
			{% else %}
				<h3 class="text-center">Veuillez contacter un organisateur du CTF</h3>
				<p>Ce serveur n'est pas configuré pour envoyer des email.</p>
				<p>Merci de contacter un organisateur pour réinitialiser votre mot de passe.</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('views.themes', path='js/style.js') }}"></script>
{% endblock %}
