{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>Installation</h1>
		</div>
	</div>
	<div class="container">
		<div class="col-md-6 offset-md-3">
			<h2 class="text-center">Installation du CTF</h2>
			{% for error in errors %}
				<div class="submit-row">
					<div class="alert alert-danger alert-dismissable" role="alert">
						<span class="sr-only">Erreur:</span>
						{{ error }}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
								aria-hidden="true">×</span></button>
					</div>
				</div>
			{% endfor %}
			<form method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
				<input type="hidden" name="nonce" value="{{ nonce }}">
				{# This nonce is implemented specially in the route itself #}
				<div class="form-group">
					<label>
						Nom du CTF<br>
						<small class="form-text text-muted">
							Nom que portera le CTF
						</small>
					</label>
					<input class="form-control" type="text" name="ctf_name"/>
				</div>
				<div class="form-group">
					<label>
						Utilisateur admin<br>
						<small class="form-text text-muted">
							Nom de compte qu'aura l'administrateur
						</small>
					</label>
					<input class="form-control" type="text" name="name"/>
				</div>
				<div class="form-group">
					<label>
						Email admin<br>
						<small class="form-text text-muted">
							Adresse email de l'administrateur
						</small>
					</label>
					<input class="form-control" type="email" name="email"/>
				</div>
				<div class="form-group">
					<label>
						Mot de passe admin<br>
						<small class="form-text text-muted">
							Mot de passe pour le compte administrateur
						</small>
					</label>
					<input class="form-control" type="password" name="password"/>
				</div>
				<div class="form-group">
					<label>
						Modes de jeu
						<small class="form-text text-muted">
							Modes de jeu pour le CTF. <br>
							Indique si les joueurs doivent jouer en équipe ou seuls.
						</small>
					</label>
					<select class="form-control" name="user_mode">
						<option value="teams">Équipes</option>
						<option value="users">Individuel</option>
					</select>
				</div>
				<br/>
				<div class="submit-row text-center">
					<button type="submit" id="submit" tabindex="5" class="btn btn-md btn-primary btn-outlined">Envoyer
					</button>
				</div>
			</form>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script src="{{ url_for('views.themes', path='js/style.js') }}"></script>
{% endblock %}
