{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1 id="user-id" user-id="{{ user.id }}">{{ user.name }}</h1>

			{% if user.oauth_id %}
				<a href="https://majorleaguecyber.org/u/{{ user.name }}">
					<h3><span class="badge badge-primary">Official</span></h3>
				</a>
			{% endif %}

			{% if user.affiliation %}
				<h3><span class="badge badge-primary">{{ user.affiliation }}</span></h3>
			{% endif %}

			<div class="user-info">
				<h2 id="user-place" class="text-center">
					{# This intentionally hides the user's place because this can be their internal profile. #}
					{# Public page hiding is done at the route level #}
					{% if scores_visible() %}
						Place N° {{ user.place | string | replace("st","") | replace("nd","") | replace("rd","") | replace("th","") }}
					{% endif %}
				</h2>
				<h2 id="user-score" class="text-center">
					{% if score %}
						{{ user.score }}
						<small>points</small>
					{% endif %}
				</h2>
			</div>
		</div>
	</div>
	<div class="container">
		{% if errors %}
			<div id='errors' class="row">
				{% for error in errors %}
					<h1>{{ error }}</h1>
				{% endfor %}
			</div>
		{% else %}

			{% if score_frozen %}
				<div class="row">
					<h1 class="text-center">Le classement a été figé.</h1>
				</div>
			{% endif %}

			<br>

			{% set solves = user.solves %}
			{% set awards = user.awards %}

			{% if solves %}
	        <br><div style="display: inline-block;width:50%;vertical-align:top;"><canvas id="failChart" height="200px"></canvas></div><!--
	        --><div style="display: inline-block;width:50%;vertical-align:top;"><canvas id="challChart" height="200px"></canvas></div><br>
	        <div style="margin-top:70px;height: 410px;"><canvas id="scoreChart" width="400" height="150px"></canvas></div><br/>
	        <div class="clearfix"></div>

				{% if awards %}
					<div class="row">
						<div class="col-md-12">
							<h3>Récompenses</h3>
						</div>
						{% for award in awards %}
							<div class="col-md-3 col-sm-6">
								<p class="text-center"><strong>{{ award.name }}</strong></p>
								{% if award.category %}<p class="text-center">{{ award.category }}</p>{% endif %}
								{% if award.description %}<p class="text-center">{{ award.description }}</p>{% endif %}
								<p class="text-center">{{ award.value }}</p>
							</div>
						{% endfor %}
					</div>

					<br>
				{% endif %}

				<div class="row">
					<div class="col-md-12">
						<h3>Résolutions</h3>
						<table class="table table-striped">
							<thead>
							<tr>
								<td><b>Challenge</b></td>
								<td class="d-none d-md-block d-lg-block"><b>Categorie</b></td>
								<td><b>Valeur</b></td>
								<td><b>Temps</b></td>
							</tr>
							</thead>
							<tbody>
							{% for solve in solves %}
								<tr>
									<td>
										<a href="{{ url_for('challenges.listing') }}#{{ solve.challenge.name }}">{{ solve.challenge.name }}</a>
									</td>
									<td class="d-none d-md-block d-lg-block">{{ solve.challenge.category }}</td>
									<td>{{ solve.challenge.value }}</td>
									<td class="solve-time">
										<script>document.write(moment("{{ solve.date|isoformat }}").local("fr").format('DD/MM/YYYY - hh:mm:ss'))</script>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			{% else %}
				<div class="text-center"><h3 class="spinner-error">Pas de résolution pour le moment.</h3></div>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}

{% block scripts %}
	<script>
        var user_id = {{ user.id }};
        var user_name = {{ user.name | tojson }};
        var team_id = {{ user.team_id | tojson }};
        var user_self = {{ (user.id == id) | tojson }};
        var user_account_id = user_self ? "me" : user_id;
	</script>
	<script src="{{ url_for('views.themes', path='js/Chart.min.js') }}"></script>
	<script src="{{ url_for('views.themes', path='js/Chart.bundle.js') }}"></script>
	<script src="{{ url_for('views.themes', path='js/utils.js') }}"></script>
	<script src="{{ url_for('views.themes', path='js/user.js') }}"></script>
{% endblock %}
