{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1 id="team-id" team-id="{{ team.id }}">{% if team.website and (team.website.startswith('http://') or team.website.startswith('https://')) %}
			<a href="{{ team.website }}" target="_blank" style="color: inherit;">
			{% endif %}{{ team.name }}{% if team.website and (team.website.startswith('http://') or team.website.startswith('https://')) %}
			</a>
			{% endif %}</h1>
			
			{% if team.oauth_id %}
				<a href="https://majorleaguecyber.org/t/{{ team.name }}">
					<h3><span class="badge badge-primary">Official</span></h3>
				</a>
			{% endif %}
			{% if team.affiliation %}
				<h3><span class="badge badge-primary">{{ team.affiliation }}</span></h3>
			{% endif %}
			<h2 id="team-place" class="text-center">
				{# This intentionally hides the team's place when scores are hidden because this can be their internal profile
			and we don't want to leak their place in the CTF. #}
				{# Public page hiding is done at the route level #}
				{% if scores_visible() %}
					{% if place %}
						Place N°{{ place.replace("st","").replace("nd","").replace("rd","").replace("th","") }}
					{% endif %}
				{% endif %}
			</h2>
			<h2 id="team-score" class="text-center">
				{% if score %}
					{{ score }}
					<small>points</small>
				{% endif %}
			</h2>
		</div>
	</div>
	<div class="container">
			{% if errors %}
				<div id='errors' class="row">
					{% for error in errors %}
						<h1>{{ error }}</h1>
					{% endfor %}
				</div>
			{% else %}

			{% if score_frozen %}
				<div class="row">
					<h1 class="text-center">Le classement a été figé.</h1>
				</div>
			{% endif %}

			<br>

			<div class="row">
				<div class="col-md-12">
					<h3>Membres</h3>
					<table class="table table-striped">
						<thead>
						<tr>
							<td><b>Pseudo</b></td>
							<td><b>Score</b></td>
						</tr>
						</thead>
						<tbody>
						{% for member in team.members %}
							<tr>
								<td>
									<a href="{{ url_for('users.public', user_id=member.id) }}">
										{{ member.name }}
									</a>
								</td>
								<td>{{ member.score }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			{% if solves %}
	        <br><div style="display: inline-block;width:50%;vertical-align:top;"><canvas id="failChart" height="200px"></canvas></div><!--
	        --><div style="display: inline-block;width:50%;vertical-align:top;"><canvas id="challChart" height="200px"></canvas></div><br>
	        <div style="margin-top:70px;height: 410px;"><canvas id="scoreChart" width="400" height="150px"></canvas></div><br/>
	        <div class="clearfix"></div>

				{% if awards %}
					<div class="row">
						<div class="col-md-12">
							<h3>Récompenses</h3>
						</div>
						{% for award in awards %}
							<div class="col-md-3 col-sm-6">
								<p class="text-center"><strong>{{ award.name }}</strong></p>
								{% if award.category %}<p class="text-center">{{ award.category }}</p>{% endif %}
								{% if award.description %}<p class="text-center">{{ award.description }}</p>{% endif %}
								<p class="text-center">{{ award.value }}</p>
							</div>
						{% endfor %}
					</div>

					<br>
				{% endif %}

				<div class="row">
					<div class="col-md-12">
						<h3>Solutions</h3>
						<table class="table table-striped">
							<thead>
							<tr>
								<td><b>Challenge</b></td>
								<td class="d-none d-md-block d-lg-block"><b>Categorie</b></td>
								<td><b>Valeur</b></td>
								<td><b>Temps</b></td>
							</tr>
							</thead>
							<tbody>
							{% for solve in solves %}
								<tr>
									<td>
										<a href="{{ url_for('challenges.listing') }}#{{ solve.challenge.name }}">{{ solve.challenge.name }}</a>
									</td>
									<td class="d-none d-md-block d-lg-block">{{ solve.challenge.category }}</td>
									<td>{{ solve.challenge.value }}</td>
									<td class="solve-time">
										<script>
                                            document.write(moment("{{ solve.date | isoformat }}").local("fr").format('DD/MM/YYYY - hh:mm:ss'))
										</script>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			{% else %}
				<div class="text-center"><h3 class="spinner-error">Pas de solution pour le moment.</h3></div>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}

{% block scripts %}
	<script>
        var team_id = {{ team.id }};
        var team_name = {{ team.name | tojson }};
        {% if user %}
            var team_self = {{ (user.team_id == team.id) | tojson }};
        {% else %}
            var team_self = false;
        {% endif %}
        var team_account_id = team_self ? "me" : team_id;
	</script>
	<script src="{{ url_for('views.themes', path='js/Chart.min.js') }}"></script>
	<script src="{{ url_for('views.themes', path='js/Chart.bundle.js') }}"></script>
	<script src="{{ url_for('views.themes', path='js/utils.js') }}"></script>
	{% if solves %}
		<script src="{{ url_for('views.themes', path='js/team.js') }}"></script>
	{% endif %}
{% endblock %}
