{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1 id="team-id" team-id="{{ team.id }}">{{ team.name }}</h1>
		{% if team.oauth_id %}
			<a href="https://majorleaguecyber.org/t/{{ team.name }}">
				<h3><span class="badge badge-primary">Official</span></h3>
			</a>
		{% endif %}
		<h2 id="team-place" class="text-center" style="display: inline-block;font-family: 'Staatliches', cursive;">
			{# This intentionally hides the team's place when scores are hidden because this can be their internal profile
			and we don't want to leak their place in the CTF. #}
			{# Public page hiding is done at the route level #}
			{% if scores_visible() %}
				{% if place %}
					{{ place }}
					<small>place</small>
				{% endif %}
			{% endif %}
		</h2><!--
		--><h2 id="team-score" class="text-center" style="display: inline-block;font-family: 'Staatliches', cursive;">
			{% if score %}
				&nbsp;-&nbsp;{{ score }}
				<small>points</small>
			{% endif %}
		</h2>
	</div>
</div>
<div class="container">
	{% if errors %}
	<div id='errors' class="row">
	{% for error in errors %}
		<h1>{{ error }}</h1>
	{% endfor %}
	</div>
	{% else %}

	{% if score_frozen %}
	<div class="row">
		<h1 class="text-center">Le classement a été figé.</h1>
	</div>
	{% endif %}

	<br>

	<div class="row">
		<div class="col-md-12">
			<h3>Membres</h3>
			<table class="table table-striped">
				<thead>
				<tr>
					<td style="width: 50%;text-align: center;"><b>Pseudo</b></td>
					<td style="width: 50%;text-align: center;"><b>Score</b></td>
				</tr>
				</thead>
				<tbody>
				{% for member in team.members %}
					<tr>
						<td style="width: 50%;text-align: center;">
							<a href="{{ url_for('users.public', user_id=member.id) }}">
								{{ member.name }}
							</a>
						</td>
						<td style="width: 50%;border-left: 1px solid #999;text-align: center;">{{ member.score }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	{% if solves %}
	<br/>
	<h3>Statistiques</h3>
	<br><div style="display: inline-block;width:50%;vertical-align:top;"><canvas id="failChart" height="200px"></canvas></div><!--
	--><div style="display: inline-block;width:50%;vertical-align:top;"><canvas id="challChart" height="200px"></canvas></div><br>
	<div style="margin-top:70px;height: 410px;"><canvas id="scoreChart" width="400" height="150px"></canvas></div><br/>

	<div class="clearfix"></div>

	{% if awards %}
	<div class="row">
		<div class="col-md-12">
			<h3>Récompenses</h3>
		</div>
		{% for award in awards %}
				<div class="col-md-3 col-sm-6">
					<p class="text-center"><strong>{{ award.name }}</strong></p>
					{% if award.category %}<p class="text-center">{{ award.category }}</p>{% endif %}
					{% if award.description %}<p class="text-center">{{ award.description }}</p>{% endif %}
					<p class="text-center">{{ award.value }}</p>
				</div>
		{% endfor %}
	</div>

	<br>
	{% endif %}

	<div class="row">
		<div class="col-md-12">
			<h3>Flags</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<td><b>Challenge</b></td>
						<td class="d-none d-md-block d-lg-block"><b>Catégorie</b></td>
						<td><b>Valeure</b></td>
						<td><b>Temps</b></td>
					</tr>
				</thead>
				<tbody>
				{% for solve in solves %}
					<tr>
						<td><a href="{{ url_for('challenges.listing') }}#{{ solve.challenge.name }}">{{ solve.challenge.name }}</a></td>
						<td class="d-none d-md-block d-lg-block">{{ solve.challenge.category }}</td><td>{{ solve.challenge.value }}</td>
						<td class="solve-time">
							<script>
								document.write( moment("{{ solve.date | isoformat }}").local().format('À H:mm:ss \\l\\e DD/MM/YY'))
							</script>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% else %}
		<div class="text-center"><h3 class="spinner-error">Pas encore de flag</h3></div>
	{% endif %}
	{% endif %}
</div>
{% endblock %}

{% block scripts %}
	<script>
		var team_id = {{ team.id }};
		var team_name = {{ team.name | tojson }};
		{% if user %}
		var team_self = {{ (user.team_id == team.id) | tojson }};
		{% else %}
		var team_self = false;
		{% endif %}
		var team_account_id = team_self ? "me" : team_id;
	</script>
<!--	<script src="{{ url_for('views.themes', path='js/vendor/plotly.min.js') }}"></script>-->
		<script src="{{ url_for('views.themes', path='js/utils.js') }}"></script>
	{% if solves %}
		<script src="{{ url_for('views.themes', path='js/Chart.min.js') }}"></script>
		<script src="{{ url_for('views.themes', path='js/moment.min.js') }}"></script>
		<script src="{{ url_for('views.themes', path='js/Chart.bundle.js') }}"></script>
		<script src="{{ url_for('views.themes', path='js/team.js') }}"></script>
	{% endif %}
{% endblock %}
